@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@300;700&family=Poor+Story&display=swap");

@media only screen and (min-width: 600px) {
  .site {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
    height: 100vh;
  }
}

.header {
  background: #4a99ff;
  grid-area: header;
  display: flex;
  height: 15vh;
  align-items: center;
}

.header:hover {
  background-color: grey;
}

.logo > img {
  height: 60%;
}

.logo {
  padding: 1%;
}

.title {
  font-family: "Poor Story", cursive;
  font-size: 150%;
  color: azure;
  text-decoration: none;
  padding-left: 1%;
}

.login {
  height: 75%;
  padding: 1%;
  margin-left: auto;
}

.sidebar {
  background: #94cefe;
  grid-area: sidebar;
  height: 70vh;
  font-family: "Lato", sans-serif;
  font-size: 110%;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.sidebar > nav > div > a {
  text-decoration: none;
  color: black;
}

.sidebar > nav > div > a:hover {
  color: white;
}

.sidebar > nav > div:nth-child(odd) {
  height: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
  width: 320px;
}

.sidebar > nav > div:nth-child(even) {
  height: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
  width: 320px;
  background-color: #70b3ff;
}

.sidebar > nav > div > a > img {
  height: 100%;
  width: 7%;
}

.main_content {
  grid-area: main;
  height: 70vh;
  overflow: auto;
}

.main_content > * {
  height: 70vh;
}

.titles {
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
  color: black;
  margin-left: 1%;
}

.subtitles {
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
  color: black;
  margin-left: 1%;
}

#home {
  font-family: "Lato", sans-serif;
  font-size: 120%;
  text-align: center;
  justify-content: center;
}

#movie,
#place {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "text photo";
}

.text {
  grid-area: text;
  overflow: auto;
}

.photo {
  grid-area: photo;
  overflow: auto;
}

.text > p,
label {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin-left: 1%;
  font-size: 100%;
}

.quotes {
  font-family: "Open Sans", sans-serif;
  font-size: 110%;
  margin-left: 1%;
}

.photo > img {
  height: 60%;
  width: 60%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
  display: block;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 10%;
}

.photo > a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  color: black;
  background-color: #94cefe;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
  display: block;
  text-align: center;
  width: 70%;
  height: 8%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: auto;
  padding-top: 2%;
  overflow: auto;
}

.photo > a:hover {
  color: white;
}

.place_imgs {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 5%;
  height: 80%;
  width: 70%;
  overflow-x: scroll;
}

.place_imgs > img {
  height: 50%;
  width: 100%;
  padding-bottom: 2%;
}

.footer {
  background: #4a99ff;
  grid-area: footer;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > p {
  font-family: "Poor Story", cursive;
  color: azure;
  font-size: 175%;
  text-align: center;
}

.footer > p > a {
  text-decoration: none;
  color: azure;
}

.footer > p > a:hover {
  color: black;
}

#feedback > h2 {
  font-family: "Lato", sans-serif;
}

#feedback {
  overflow: auto;
}

label {
  display: inline-block;
  width: 40%;
}

input,
textarea,
select {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
  margin-left: 1%;
  width: 49%;
}

input:hover,
textarea:hover,
select:hover {
  border: 3px solid black;
  border-radius: 2px;
  box-shadow: 5px black;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
}

form > div {
  margin-left: 1%;
}

.rate input {
  width: 15px;
}

.rate label {
  display: inline;
  margin-left: 5px;
}

.part3 > label {
  width: 70%;
}

.part3 > select {
  width: 35%;
  height: 15%;
  margin-left: 2%;
}

textarea {
  height: 50%;
  width: 90%;
  margin-left: 1%;
}

input[type="submit"],
input[type="reset"] {
  width: 25%;
  height: 15%;
  margin-left: 10%;
  margin-right: auto;
  background-color: #94cefe;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  color: white;
}

body.dark .header,
body.dark .footer {
  background-color: black;
}

body.dark .sidebar {
  background-color: rgb(52, 52, 52);
  color: white;
}

body.dark .sidebar > nav > div:nth-child(even) {
  background-color: gray;
}

body.dark .sidebar > nav > div > a {
  color: white;
}

body.dark .sidebar > nav > div > a:hover {
  color: lightblue;
}

body.dark .footer > p > a:hover {
  color: lightblue;
}

body.dark .photo > a {
  background-color: gray;
  color: white;
}

body.dark .photo > a:hover {
  color: lightblue;
}

body.dark input[type="submit"],
body.dark input[type="reset"] {
  background-color: gray;
  color: white;
}

body.dark input[type="submit"]:hover,
body.dark input[type="reset"]:hover {
  color: lightblue;
}

@media only screen and (max-width: 600px) {
  .site {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr 0.4fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
    overflow: scroll;
    height: 100vh;
  }

  .sidebar > nav > div:nth-child(even) {
    width: 600px;
  }

  .sidebar > nav > div:nth-child(odd) {
    width: 600px;
  }

  .sidebar {
    height: 65%;
  }

  .sidebar > nav > div > a > img {
    height: 100%;
    width: 3%;
  }

  #movie,
  #place,
  #feedback {
    display: flex;
    flex-direction: column;
  }

  .text,
  .photo {
    overflow: visible;
  }

  #place {
    padding-top: 100%;
  }

  #feedback {
    padding-top: 240%;
  }

  #place > .photo > a {
    height: 4%;
  }

  .title {
    font-size: 90%;
  }

  input[type="submit"],
  input[type="reset"] {
    width: 40%;
    height: 10%;
    margin-left: 10%;
    margin-right: auto;
    background-color: #94cefe;
  }

  .sidebar > nav > div > a:link {
    padding-top: 50%;
  }
}
