table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

#titles,
#end {
  background-color: aqua;
}

.junior {
  background-color: cornsilk;
}

.mid-school {
  background-color: chartreuse;
}

.high-school {
  background-color: coral;
}

body {
  font-family: verdana;
  background-image: linear-gradient(cornsilk, coral, turquoise);
}

img {
  height: 25px;
  width: 25px;
}
